KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=spa-customers
# development credentials
KEYCLOAK_CLIENT_ID=ridely-service
KEYCLOAK_CLIENT_SECRET=4OYZ6GvG3we5UKsZ2kUM6HyrHGRsFtyQ
# development credentials
KEYCLOAK_USERNAME=anderson.contreira
KEYCLOAK_PASSWORD=123

