# backend
# ridely-api
/backend/apis/ridely-api/.phpunit.cache
/backend/apis/ridely-api/public/build
/backend/apis/ridely-api/public/hot
/backend/apis/ridely-api/public/storage
/backend/apis/ridely_api/storage/*.key
/backend/apis/ridely-api/vendor
/backend/apis/ridely-api/.env
/backend/apis/ridely-api/.env.backup
/backend/apis/ridely-api/.env.production
/backend/apis/ridely-api/.phpunit.result.cache
/.fleet
/.idea
/.vscode

# docs
/docs/plantuml.jar
